@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px;}
li{
	list-style:none;
	}
html{
	scrollbar-face-color: #F3F3F5; 
	scrollbar-shadow-color: #D4D4D4; 
	scrollbar-highlight-color: #FFF; 
	scrollbar-3dlight-color: #D4D4D4; 
	scrollbar-darkshadow-color:#FFF; 
	scrollbar-arrow-color:#D4D4D4; 
	scrollbar-base-color:#F3F3F5;height:100%
}

body{
	font:12px Arial, Helvetica, sans-serif;
	height:100%
	}
a{
	color:#4a4a4a;
	text-decoration:none;
	}
a:hover{
	color:#e87b10;
	text-decoration:underline;
}
#panel input,#panel textarea{
	padding:2px;
	border:#e4e4e4 1px solid;
	font-size:12px;
	color:#666;
	}
input{
	/*height:16px;*/
	padding:2px;
	}
	
input.btn
{
	padding:2px 2px 2px;
	border:#ccc 1px solid;
	border-bottom:#e1e0e0 1px solid;
	border-right:#e1e0e0 1px solid;
	font-size:12px;
	color:#666;
	text-align:center;
	font-family:"宋体";
	cursor:pointer ;
	height:22px;
}

.abtn{ 
	padding:2px 5px 0 5px; 
	display:block; 
	cursor:pointer;
	float:left; 
	background:#f4f4f4;
	height:19px;
	line-height:18px;
	overflow:hidden;
	border:#ccc 1px solid;
	border-bottom:#e1e0e0 1px solid;
	border-right:#e1e0e0 1px solid;	
	font-family:"宋体";
	margin-right:5px;
	margin-top:2px;
	color:#666;
}

a:hover.abtn{
	color:#666;
	text-decoration:none;
	}

input.btnStyle{
	font-size:12px;
	height:30px;
	background:#069;
	color:#fff;
	}
.radioChecked,.unRadioChecked,.checkbox,.unchecked{
	 height:12px; display:block; width:40px;
	}
.radioChecked{
	background:url(/sysadmin/images/radioChecked.gif) no-repeat;
	float:left
	}
.unRadioChecked{
	background:url(/sysadmin/images/unRadioChecked.gif) no-repeat;
	}
.checkbox{
	background:url(/sysadmin/images/checkbox.gif) no-repeat;
	}
.unchecked{
	background:url(/sysadmin/images/unchecked.gif) no-repeat;
	}
#header{
	background:url(/sysadmin/images/headerBackground.png) repeat-x;
	height:68px;
	overflow:hidden;
	}
#header h1{
	height:53px;
	width:165px;
	color:#b0b0b0;
	float:left;
	background:url(/sysadmin/images/logo.png) no-repeat !important;
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sysadmin/images/logo.png', sizingMethod='crop');
	text-indent:-9999px;
	margin:7px 15px 0 10px;
	}
.headerContainer{
	
	}	
#nav{
	margin-top:-5px;
	}
#nav ul li{
	float:left;
	height:30px;
	line-height:30px;
	margin:10px 20px 0 0;
	}

#nav ul li img{
	position:relative;
	top:3px;
	}
/*#nav ul li.menu02{
	background-position:0 -30px;
	}
#nav ul li.menu03{
	background-position:0 -60px;
	}
#nav ul li.menu04{
	background-position:0 -90px;
	}
#nav ul li.menu05{
	background-position:0 -120px;
	}
#nav ul li.menu06{
	background-position:0 -150px;
	}*/
#nav ul li.off, #nav ul li.help,#nav ul li.table{ 
	background:url(/sysadmin/images/navicon.gif) no-repeat;
	padding-left:20px;
}
#nav ul li.off{
	background-position:0 -180px;
	}
#nav ul li.help{
	background-position:0 -210px;
	}
#nav ul li.table{
	background-position:0 -240px;
	}
#nav ul li a:hover{
	color:#000;
	text-decoration:none;
	}
#nav ul li ul{
	position:absolute;
	z-index:4;
	top:65px;
	padding:5px 0px;
	background:#f5f5f5;
	filter: Alpha(Opacity=90);opacity:0.9;
	border:#e4e4e4 1px solid
	}
#nav ul li ul li{
	clear:left; 
	background:none; 
	padding:0px;
	margin:0px;
	height:25px;	
	width:100px;	
	line-height:22px;
}
#nav ul li ul li a{	
	display:block;
	padding:2px 10px 0px;
	width:80px;	
}
#nav ul li ul li a:hover{
	color:#000;
	display:block;
	background:#00b6dc;
	padding:2px 10px 0px;
	width:80px;	
}
ul.works{ 
	float:right;
}
#showNote .stime{
	float:right;
	}
#showNote{
	padding:10px 10px 0px 5px;
	height:20px;
	overflow:hidden;
	}
#showNote dl{
	width:300px;
	float:left;
	}
#showNote dt,#showNote dd{
	float:left;
	height:25px;
	}
#showNote dd{
	width:240px;	
	}
#showNote dd ul li{
	height:22px;
	line-height:16px!important;
	line-height:18px;
	}


#leftMenu{
	width:180px;
	height:100%;
	border-right:#9ac4dc 1px solid;
	}
#mainTable iframe{ 
	width:100%; 
	height:100%;
	overflow-x:hidden
	
}
#leftMenu h4{
	font-size:12px;
	margin:10px 0 0 3px;
	background:url(/sysadmin/images/leftmenutitle.png) no-repeat;
	padding-left:20px;
	}
#leftMenu a.selected{
	background:none;
	color:#f00;
	}
#getscroll h4{
	font-size:12px;
	margin:10px 0 0 3px;
	background:url(/sysadmin/images/leftmenutitle.png) no-repeat;
	padding-left:20px;
	}

/*#getscroll,#container{
	height:640px;
	overflow-y:scroll;
	}*/

#container h1{
	background:#f3f9fa;
	border-bottom:#fff 1px solid;
	margin:0px;
	padding:5px 10px;
	font-size:20px;
	font-style:italic;
	}

.normal{
	background:#f3f9fa;
	height:100%;
	}
.normal h1{
	font-size:25px;
	font-weight:normal;
	margin:10px 0 20px
	}
.normal h2{
	font-size:12px;
	color:#999;
	margin-top:15px;
	}
.normal h4{
	font-size:12px;
	color:#666;
	}
#showLoader{
	position:absolute; left:100%; top:100px;
	margin-left:-240px;
	width:180px;
	background:#fff url(/sysadmin/images/loader.gif) no-repeat;
	height:30px;
	filter: Alpha(Opacity=60);opacity:0.6;
	border:#da7600 1px solid;
	line-height:30px;
	padding-left:32px;
	display:none;
	}
#showLoader h4{
	font-size:12px;
	font-weight: normal;
	color:#f60;
	}
#footer{
	background:#e4e4e4;
	border-top:#ccc 1px solid;
	text-align:right;
	height:30px;
	line-height:30px;
	}

/**/
input.subButton{
	background:url(/sysadmin/images/btnButton.png) no-repeat;	
	}

input.actionButton{
	background:url(/sysadmin/images/action.gif) no-repeat;
	}
.container{}	
.container h4{
	color:#333;
	font-size:12px;
	font-weight:normal;
	background:url(/sysadmin/images/path.png) repeat-x;
	height:29px;
	line-height:29px;
	padding-left:20px;
}
.container ul#tags{
	margin:15px 0 0 30px;
	height:25px;
	overflow:hidden
	}
.container ul#tags li{ 
	float:left;
	padding:0px 10px;
	margin:0px 10px;
	height:25px;
	line-height:25px;
}
.container ul#tags li.selectTag{
	background:#d9e4ea;
	}
.container ul#tags li.selectTag a{
	color:#e87b10;
	font-weight:bold;
	font-size:14px;
	text-decoration:none;
	}
	
.container dl,.container .Submit{
	clear:left;
	}
.container .Submit{
	padding:15px 0 0 120px;
	}
.container fieldset{
	border:#d9e4ea 1px solid;
	border-top:#d9e4ea 3px solid;
	background:#fcfcfc 1px scroll;
	clear: both
	}
.container dl{
	border-bottom:#d9e4ea 1px solid;
	margin:3px 0px;
	}
.container dl dt,.container dl dd{
	float:left;
	line-height:24px;
	padding:3px 0
	}
.container dl dd.radio{
	padding-top:8px;
	}
.container dl dd span{
	color:#666;
	}

.container dl dd input.focus,.container dl dd textarea.focus{
	border:#F90 1px solid;
	color:#F90;
	background:#fffef8
	}
.container dl dt {
	margin-right:5px;
	width:180px;
	text-align:right
}

.container dl dd label{
	padding-top:3px;
	height:30px;
	line-height:30px;
	}
.container dl dd label span{
	padding:0 5px;
	}
.container dl dd label span img{
	}
.container dl dd .btn{
	margin:2px 0 0 3px;
	}
.container .subButton,.container .actionButton{
	width:77px;
	height:28px;
	border:none;
	color:#004e7f;
	}
#searchContainer input{
	/*height:16px;*/
	padding:2px;
	border:#e4e4e4 1px solid;
	}
#searchContainer{
	padding:3px 5px 5px;
	background:#f5f5f5;
	border-bottom:#e4e4e4 1px dashed;
	clear:left;
	}
#searchContainer p{ 
	/*text-align:right;*/
	margin:3px;
}
#searchContainer .note{
	height:55px;
	float:right;
	background:#333
	}
#searchContainer p span{
	position:relative;
	top:0px!important;
	top:-3px;
	margin-left:10px;
	}
#searchContainer input.btnStyle,.function input.btn{
	height:22px;
	}

#searchContainer ul li{
	border:none;
	float:left;
	height:25px;
	line-height:25px;
	padding:0px 3px;
	white-space:nowrap;
	}
#searchContainer ul{
	padding:3px 0px 15px;
	}
#searchContainer ul li input{
	width:40px;
	}
.mynotesearch{
	/*height:50px;*/
	border-top:#ccc 1px solid;
	padding:5px;
	}
.function{
	margin:10px 0;
	text-align:right;
	margin-right:20px;
	}
.function input{
	background:#00aed3;
	border:none;
	font-size:12px;
	padding:2px 3px;
	color:#fff;
	border:#0092b1 1px solid;
	height:22px;
	margin:0 1px
}
#btnSearch
{
	background:#00aed3;
	border:none;
	font-size:12px;
	padding:2px 3px;
	color:#fff;
	border:#0092b1 1px solid;
	height:22px;
	padding-bottom:5px;
	margin:0 1px
}
.function a{
	margin:0 2px;
	border-right:#e4e4e4 1px solid;
	padding:0 5px 0 4px;
}

.function input {
    cursor: pointer;
}

.function .tooltop {
    float: left;
    width: 600px;
}
.function .tooltop li {
    float: left;
    margin: 0 3px;
}
.function .tooltop li em {
    color: Green;
}
.function .tooltop li a.hover {
    color: Red;
    text-decoration: underline;
}

.actionLeft,.actionRight
{
	float:left;
	}
.actionLeft a,.actionRight a{
	margin:0 2px;
	border-right:#e4e4e4 1px solid;
	padding:0 5px 0 4px;
}
.ulheader{
	height:30px;
	background:#fff;
	border:#dbe5e7 1px solid;
	background:#e6f1fe;
	
	}
.ulheader li{
	float:left;
	/*font-weight:bold;	*/
	padding-left:5px;
	margin-left:-1px;
	line-height:30px;
	border:#dbe5e7 1px solid;
	border-width:0px 0px 0 1px;
	overflow:hidden;
	/*padding-bottom:3px;*/
	}
.ulheader li img{
	margin-top:5px;
	}
.ulbody{
	clear:left;
	background:none;
	border-width:0px 1px 1px;
	height:27px;
	}
.ulbody li{
	font-weight:normal;
	border:#dbe5e7 1px solid;
	border-width:0px 0px 0 1px;
	height:27px;
	line-height:27px;
	}
.ulheader li input{
	/*margin-top:4px;*/
	text-align:center ;
	/*border:none;*/
	}
ul.ullist{
	background:#fffbf0
	}
ul.ulclick{
	background:#fffef0
	}
/*select*/
h4.selectBar{ 
	background:#fff url(/sysadmin/images/select.png) no-repeat right center; 
	font-weight:normal; 
	cursor:default; 
	font-size:12px;
	margin:2px 10px 0 0px !important; 
	margin:1px 10px 0 0px; 
	padding:2px 5px; 
	border:#ddd 1px solid;
	width:96px;
	height:16px;
	line-height:16px;
	
}
ul.list{
	padding:2px;
	position:absolute;
	z-index:1000;
	padding:0px; 
	margin:0 0 0 0px;
	background:#f9f9f9;
	border:#ccc 1px solid;
	border-width:0px 1px 1px;
	width:106px;
	
}
ul.list li{
	padding:3px;
	list-style:none;
	line-height:16px;
	width:100px;
	}
ul.list li.seled{ 
	background:#dd8700;
	color:#fff;
	width:100px;
	
}

ul.list li.unseled{
	/*background:#fff;*/
	}
ul.hassele{
	
	}
ul.hassele li{
	float:left;
	}
ul.hassele li input{
	margin-right:10px;
	}
ul.hassele li ul li{
	clear: both;
	}
.page{ margin:8px auto; width:708px; line-height:18px; height:50px;}
.page span {
	/*float:left;*/
	}
.page a{
	/*display:block;*/
	padding:0px 5px;
	background:#e4e4e4;
	border:#f5f5f5 1px solid;
	border-right:#ccc 1px solid;
	border-bottom:#ccc 1px solid;
	margin:0px 1px;
	/*float:left;*/
	}

.page a:hover{
	/*display:block;*/
	padding:0px 5px;
	background:#ff6600;
	border:#ff9000 1px solid;
	border-right:#bf5e00 1px solid;
	border-bottom:#bf5e00 1px solid;
	margin:0px 1px;
	color:#fff;
	}
.page a.click{
	/*display:block;*/
	padding:2px 5px;
	background:#ff6600;
	border:#ff9000 1px solid;
	border-right:#bf5e00 1px solid;
	border-bottom:#bf5e00 1px solid;
	color:#fff;
	}
.page h4{
	float:left;
	}
.fr{
	display:block;
}

#loginContainer{
	background:url(/sysadmin/images/loginbody.png) repeat-x;	
	}
#login{
	background:url(/sysadmin/images/logindiv.png) repeat-x;
	width:407px;
	height:290px;
	margin:150px auto;
	border:#b7c4cc 3px solid;
	font-size:14px;
	color:#a7b6c0;	
	}
#login h1{
	background:url(/sysadmin/images/slogo.png) no-repeat 0px top;
	width:150px;
	height:88px;
	margin:15px 0 0 15px;
	text-indent:-9999px;
	
	}
#login dl{
	clear:left;
	}

#login dl dt,#login dl dd{
	height:35px;
	line-height:25px;
	float:left;
	padding:0 5px;
	}
#login dl dt{
	text-align:right;
	width:80px;
	}
#login dl dd{
	width:260px;
	}

#login dl dd select{
	width:240px;
	}
#login dl dd input{
	background:#fff url(/sysadmin/images/inputbg.png) repeat-x;
	padding:2px;
	width:250px;
	border:#cad9e3 1px solid;
	border-top:#bdcad3 1px solid;
	border-right:#bdcad3 1px solid;
	}
#login dl dd input.regxp{
	width:180px;	
	}
#login dl dd img{
	position:relative;
	top:4px;
	left:3px;
	}
#login dl dd span.check input{
	width:20px;
	background:none;
	border:none;	
	}
#login dl dd input.subclass{
	background:#d67400;
	width:100px;
	color:#fff;
	padding:3px;
	height:20px;
	}
#loginContainer{
	background:url(/sysadmin/images/loginbody.png) repeat-x;	
	}

#login{
	background:url(/sysadmin/images/logindiv.png) repeat-x;
	width:407px;
	height:290px;
	margin:150px auto;
	border:#b7c4cc 3px solid;
	font-size:14px;
	color:#a7b6c0;	
	}
#login h1{
	background:url(/sysadmin/images/slogo.png) no-repeat 0px top;
	width:150px;
	height:88px;
	margin:15px 0 0 15px;
	text-indent:-9999px;
	
	}
#login dl{
	clear:left;
	}

#login dl dt,#login dl dd{
	height:35px;
	line-height:25px;
	float:left;
	padding:0 5px;
	}
#login dl dt{
	text-align:right;
	width:80px;
	}
#login dl dd{
	width:260px;
	}

#login dl dd select{
	width:240px;
	}
#login dl dd input{
	background:#fff url(/sysadmin/images/inputbg.png) repeat-x;
	padding:2px;
	width:250px;
	border:#cad9e3 1px solid;
	border-top:#bdcad3 1px solid;
	border-right:#bdcad3 1px solid;
	}
#login dl dd input.regxp{
	width:180px;	
	}
#login dl dd img{
	position:relative;
	top:4px;
	left:3px;
	}
#login dl dd input.check{
	width:20px;
	background:none;
	border:none;	
	}
#login dl dd input.subclass{
	background:#d67400;
	width:100px;
	color:#fff;
	padding:3px;
	height:20px;
	}
	
/*alert*/
.msg{ 
	border:#e4e4e4 1px solid;
	padding:10px; 
	background:#f5f5f5
}
#message{
	width:300px;
	height:180px;
	position:absolute;
	z-index:9999;
	left:10px;
	border:#75b7ea 3px solid; 
	background:#f6fcff;
	padding-bottom:10px;
	}
#message a.close{
	width:20px;
	height:20px;
	display:block;
	background:url(/sysadmin/images/close.png) no-repeat center center;
	color:#fff;
	float:right;
	text-align:center;
	text-indent:-9999px;
	margin:0 2px 5px 12px;
	}
#message a.close :hover{
	width:20px;
	height:20px;
	display:block;
	background:#f90;
	color:#000;
	}
#message h4.msgtitle{
	background:url(/sysadmin/images/msgtitlebackground.png) repeat-x;
	height:25px;	
	line-height:25px;
	font-weight:bold;
	color:#fff;
	font-size:12px;
	}
.message{
	
}
.message h3{
	background:#f5f5f5;
	padding:2px 8px 2px;
	font-size:12px;
	text-align:right;
	border-bottom:#e4e4e4 1px solid;
}
.message h4{
	color:#0000ff;
	height:25px;
	line-height:25px;
	font-size:12px;
	padding:5px;
	}
.message h4 a{
	color:#00f;
	text-decoration:underline;
	}
.message h4 a:hover{
	color:#00f;
	text-decoration:underline;
	}
.red{ 
	color:#f00
}
.message div.info{
	line-height:20px;
	height:70px;
	padding:0px 5px;
	background:#f9f9f9
	}
.message .sfo{
	text-align:right;
	border-top:#e4e4e4 1px solid;
	padding-top:7px;
	background:#f9f9f9;
	}
.message .sfo a{
	color:#0000ff;
	margin:5px;
	}
.message .sfo a:hover{
	color:#0000ff;
	}


#msgContainer{
	width:504px;
	height:420px;
	margin:50px auto 0;
	padding:2px 0px;
	}
#msgContainer h4{
	height:30px; 
	line-height:30px; 
	padding:0 0 0 10px; 
	margin-bottom:3px;
	font-weight:bold;
}
#msgMain,#list,#msgClose{
	height:420px;
	float:left
	}
#msgMain{
	width:342px;
	padding:0 2px;
	background:#fff;
	border:#94c9d4 1px solid;
	}
#msgMain textarea{
	border:#e4e4e4 1px solid;
	overflow:hidden;
	width:99%;
	height:150px;
	padding:0px;
	}
#msgMain textarea#namelist{
	background:#f5f5f5;
	color:#666
	}
#msgClose{
	background:#dde2e3;
	cursor:pointer;
	width:8px;
	border:#94c9d4 1px solid;
	border-width:1px 0px;
	}
#list{
	width:145px;
	background:#f2fefe;
	border:#94c9d4 1px solid;
	overflow-y:auto;
	overflow-x:hidden;
	}
#list ul li{	
	list-style:none;
	margin:2px 0;
	}
#list ul li a{
	color:#000;
	display:block;
	height:20px;
	line-height:20px;
	padding-left:10px;
	text-decoration:none;
	background:none;
	}
#list ul li a:hover{
	color:#f00;
	display:block;
	height:20px;
	line-height:20px;
	padding-left:10px;
	background:#fff;
	}
#list ul li a.sel{
	color:#003b46;
	display:block;
	height:20px;
	line-height:20px;
	padding-left:10px;
	background:#a0dde9;
	}
#list ul li a:hover.sel{
	color:#003b46;
	display:block;
	height:20px;
	line-height:20px;
	padding-left:10px;
	background:#a0dde9;
	}
.breadcrumb_current
{
	color:Blue;	
}

.feedlist li{ float:left; width:100%; border-bottom:1px dashed #b0b0b0; line-height:24px; padding:0 0 5px 0; margin-bottom:10px;}
.feedlist li p{ padding:0 80px 0 15px;}

.Albums_Del{ position:relative;}
.Albums_Del ul{ float:left;}

.Albums_Del li{ float:left; position:relative; margin:4px 19px 16px 0;overflow:hidden;}
.Albums_Del li span{display:block; width:140px; height:20px;position:absolute; right:7px; top:8px;text-align:right; overflow:hidden; *display:inline-block;}

.xccontainer {
	float: right;
	padding: 0px 20px 10px 0;
}

/* DEMO START */
.AlbumsList {
	list-style: none;
	width:675px;
	text-align: center;
	overflow:hidden;
}
.AlbumsList li {
	float: left;
	display: block;
	width: 130px;
	height: 110px;
	*height:120px;
	cursor: pointer;
	background:#FFF;
	margin: 0 5px 5px 0;
	padding:8px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	overflow:hidden;
	position:relative;
}
.AlbumsList li div{ position:relative; bottom:5px; *bottom:0; bottom:-3px\9;}
.AlbumsList li.active {
	background:#f75d88;
}
.AlbumsList li span {display:block; width:140px; height:20px;position:absolute; right:7px; top:8px;text-align:right; overflow:hidden; *display:inline-block;}


.AlbumsList img{border :1px solid #CCCCCC}

/*限定DIV最新宽度*/
#panel
{
	width: 100%;
	min-width: 1000px;
	
	/*meizz: expression(this.style.width = this.offsetParent.clientWidth<1180 ? "1200px" : "100%");*/
}
 /* 
td{border:solid #add9c0; border-width:0px 1px 1px 0px; padding:2px 0px;}
table{border:solid #add9c0; border-width:1px 0px 0px 1px;}

table{
        border-top: 1px solid #cc0000;
        border-left: 1px solid #cc0000;
}
td{
        border-bottom:1px solid #cc0000;
        border-right: 1px solid #cc0000;
}*/

.listInfo{border-collapse: collapse;width:100%;}
.listInfo td{padding:2px 2px 2px 5px;height:26px; border:1px solid #e6f1fe; }
.listInfo .listInfotr:hover,tr.hover{background:#FFFEF0;}
.listInfo .trclick{background:#FFFEF0;}
.dragOrders input{border:1px solid #e4e4e4;}
.li1{width:25%;}
.li1 img{border:0px}
.li2{width:5%;text-align:center;}
.li2 img{border:0px}
.li3{width: 5%;text-align:center;}
.li3 img{border:0px}
.li4{width: 5%;text-align:center;}
.li4 img{border:0px}
.li5{width: 15%;text-align:center;}
.li5 img{border:0px}
.li6{width: 20%;}
.li6 img{border:0px}

.sublist{text-align:right;padding:5px 20px;background:#E7F2F5;margin-top:10px;border:1px #9AC4DC solid;}
.sublist input{cursor:pointer;}

#tinybox{position:absolute; display:none; padding:10px; background:#fff url(../images/preload.gif) no-repeat 50% 50%; border:10px solid #e3e3e3; z-index:2000;}
#tinymask{position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000000; z-index:1500;}
#tinycontent{background:#ffffff; font-size:1.1em;}