<?xml version="1.0"?>
<HRConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IsMember>1</IsMember>
  <IsSendToEmail>1</IsSendToEmail>
  <EMailTitle>广州市图派网络科技有限公司面试通知</EMailTitle>
  <EMailContent><![CDATA[<p> &nbsp;{UserName}，您好! &nbsp;<br /><br /> &nbsp;　　我司收到您投递的简历，请您于{MSDate}来我司面试，面试时需要您提供简历、学历证等 &nbsp; &nbsp; &nbsp;<br /><br /> &nbsp;　　　　　　广州市图派网络科技有限公司<br /><br /> &nbsp;　　　　　　{SendDate}</p>]]></EMailContent>
  <ResumeDetailFilePath>/{SiteDir}/hr/resumedetail.aspx</ResumeDetailFilePath>
</HRConfig>