<?xml version="1.0"?>
<MemberConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RegisterType>1</RegisterType>
  <DisUserName>admin@toprand.com|administrator|system|operator|support|root|postmaster|webmaster|security</DisUserName>
  <ActEMailTitle>广州市图派网络科技有限公司会员帐号激活</ActEMailTitle>
  <ActEMailContent><![CDATA[<p>尊敬的{UserName},您好<br /><br />　　欢迎加入广州市图派网络科技有限公司会员系统<br /><br /><br />点击以下激活链接，以激活您的账号：<br />{URL}<br />(如果不能点击该链接地址，请复制并粘贴到浏览器的地址输入框)<br /><br />此邮件为系统所发，请勿直接回复。</p>]]></ActEMailContent>
  <FindPwdEMailTitle>广州市图派网络科技有限公司找回密码</FindPwdEMailTitle>
  <FindPwdEMailContent><![CDATA[<p>尊敬的{UserName},您好<br /><br />　　您收到这封电子邮件是因为您 (也可能是某人冒充您的名义) 申请了修改密码。假如这不是您本人所申请, 请不用理会这封电子邮件<br /><br /><br />该操作在24小时内确认有效，过期将无法再执行激活操作。：<br />{URL}<br />(如果不能点击该链接地址，请复制并粘贴到浏览器的地址输入框)<br /><br />此邮件为系统所发，请勿直接回复。</p>]]></FindPwdEMailContent>
</MemberConfig>