<?xml version="1.0"?>
<SiteInfoConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Logo />
  <Favicon />
  <SiteName>万菱汇——oneLinkWalk</SiteName>
  <SiteTitle>万菱汇——oneLinkWalk</SiteTitle>
  <SiteURL />
  <CopyRight>万菱汇——oneLinkWalk</CopyRight>
  <MetaKeywords>万菱汇——oneLinkWalk</MetaKeywords>
  <MetaDescription>万菱汇——oneLinkWalk</MetaDescription>
</SiteInfoConfig>