<?xml version="1.0"?>
<UploadConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ImageUrl />
  <ImageSavePath>UploadFiles</ImageSavePath>
  <FileUrl />
  <FileSavePath>UploadFiles</FileSavePath>
  <MediaUrl />
  <MediaSavePath>UploadFiles</MediaSavePath>
  <IsEnableUpload>1</IsEnableUpload>
  <UploadControl>upload.aspx</UploadControl>
  <UploadFilesSize>10240</UploadFilesSize>
  <UploadImageSize>1024</UploadImageSize>
  <UploadMediaSize>10240</UploadMediaSize>
  <UploadMediaType>wav|avi|mpg|mpeg|wma|flv|swf</UploadMediaType>
  <UploadFilesType>doc|docx|xls|xlsx|ppt|wps|zip|rar|txt|jpg|jpeg|gif|bmp|png|flv|swf|rm|pdf</UploadFilesType>
  <UploadImageType>jpg|jpeg|gif|bmp|png</UploadImageType>
  <ThumbnailWidth>120</ThumbnailWidth>
  <ThumbnailHeight>120</ThumbnailHeight>
  <IsEnableWatermark>0</IsEnableWatermark>
  <WatermarkType>1</WatermarkType>
  <WatermarkPic>sysadmin/Images/Water.png</WatermarkPic>
  <WatermarkText>图派科技</WatermarkText>
  <WatermarkFontSize>20</WatermarkFontSize>
  <WatermarkFontType>黑体</WatermarkFontType>
  <WatermarkFontStyle>1</WatermarkFontStyle>
  <WatermarkFontBorder>1</WatermarkFontBorder>
  <WatermarkFontBorderColor>CC0000</WatermarkFontBorderColor>
  <WatermarkFontColor>FFFFFF</WatermarkFontColor>
  <WatermarkTransparency>80</WatermarkTransparency>
  <WatermarkLocation>2</WatermarkLocation>
</UploadConfig>