<?xml version="1.0"?>
<SiteInfoManage xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ManageDir>sysadmin</ManageDir>
  <IsEnableManageCode>0</IsEnableManageCode>
  <ManageCode>123111</ManageCode>
  <SiteDWMange>1,万菱汇——oneLinkWalk,360|6,深信德,2|42,华强北在线 test 子站,hqbtest|43,托尔斯泰,360hqb|18,testtest,360hqb|4,英文站,360hqb|24,英文版,360hqb|25,英文版,360hqb|26,英文版,360hqb|27,英文版,360hqb|28,英文版,360hqb|29,英文版,360hqb|30,英文版,360hqb|31,英文版,360hqb|32,英文版,360hqb|33,英文版,360hqb|34,英文版,360hqb|35,日文版,360hqb|36,俄文版,360hqb|37,法文版,360hqb|38,繁体版,360hqb|39,英文版,360hqb|40,日文版,360hqb|41,西班牙,360hqb|42,西班牙,360hqb|43,西班牙,360hqb|44,西班牙,360hqb|45,西班牙2,360hqb|46,西班牙3,360hqb|47,西班牙4,360hqb|48,西班牙6,360hqb|49,西班牙7,360hqb|50,西班牙8,360hqb|51,西班牙9,360hqb|52,西班牙10,360hqb|53,西班牙11,360hqb|54,英文版,360hqb|55,英文版,360hqb|56,英文版,360hqb|2,英文版,360hqb</SiteDWMange>
  <ClientName>华强北在线</ClientName>
  <ClientContact>
  </ClientContact>
  <ClientTel>
  </ClientTel>
  <ClientEmail>
  </ClientEmail>
  <ClientMobile>
  </ClientMobile>
  <ClientAddr>
  </ClientAddr>
  <License>1cc5da0e-8011-4341-a4eb-531a0f1e7030</License>
</SiteInfoManage>