<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!--数据库操作层-->
    <add key="WebDAL" value="KingTop.SQLServer" />
    <add key="SuperUser" value="admin" />
    <add key="SuperUserPassword" value="D8-CB-D8-13-B0-B4-AA-1A-7C-D5-A9-90-30-C2-D5-50" />
    <add key="RecCountOfPage" value="2" />
    <add key="IsSetCollectionDataDirInner" value="0" />
    <add key="IsCollectionDataCascadeDel" value="false" />
    <add key="DataManagePassword" value="67-0B-14-72-8A-D9-90-2A-EC-BA-32-E2-2F-A4-F6-BD" />
    <add value="exec|insert|delete|update|chr|mid|master|truncate|script|declare|cast|drop|0x" key="SQLInject" />
  </appSettings>
  <connectionStrings>
    <add name="SQLConnString1" connectionString="server=192.168.0.224\sample;database=KingTopCMS_V2.5;uid=sa;pwd=asen" />
  <system.web>
    <!--  
            设置 compilation debug="true" 可将调试符号插入  
            已编译的页面中。但由于这会   
            影响性能，因此只在开发过程中将此值   
            设置为 true。  
        -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
        <add extension=".htm" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <!--
    项目部署后报MAC错误，baidu后加以下代码，服务器是新网互联虚拟服务器
    -->
    <machineKey validation="3DES" validationKey="319B474B1D2B7A87C996B280450BB36506A95AEDF9B51211" decryption="3DES" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A87" />
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页

            以代替错误堆栈跟踪。


        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="errorpage.aspx" />
        </customErrors>
        -->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!-- 分页控件注册 -->
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.html" type="System.Web.UI.PageHandlerFactory" />
      <add verb="*" path="*.htm" type="System.Web.UI.PageHandlerFactory" />
    </httpHandlers>
    <httpModules>
      <!--<add name="UrlRewriter" type="KingTop.Common.UrlRewriter" />-->
    </httpModules>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2048000" executionTimeout="3600" />
    <!--为当前应用程序配置会话状态设置。-->
    <sessionState mode="InProc" timeout="600">
    </sessionState>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN" />
  </system.web>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。

    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <!--<remove name="Session" />
      <add name="HtmlSession" type="System.Web.SessionState.SessionStateModule"/>-->
    </modules>
  </system.webServer>
</configuration>